@mixin animTransform($rotateX){
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(#{$rotateX}deg);

}

@keyframes frontBottom {
  from{
    @include animTransform(0);
  }
  to{
    @include animTransform(90);
  }
}

@keyframes frontTop {
  from{
    @include animTransform(0);
  }
  to{
    @include animTransform(-90);
  }
}

@keyframes bottomTop {
  from{
    @include animTransform(90);
  }
  to{
    @include animTransform(0);
  }
}

@keyframes bottomBottom {
  from{
    @include animTransform(90);
  }
  to{
    @include animTransform(180);
  }
}

@keyframes backTop {
  from{
    @include animTransform(180);
  }
  to{
    @include animTransform(90);
  }
}

@keyframes backBottom {
  from{
    @include animTransform(180);
  }
  to{
    @include animTransform(270);
  }
}

@keyframes topTop {
  from{
    @include animTransform(270);
  }
  to{
    @include animTransform(180);
  }
}

@keyframes topBottom {
  from{
    @include animTransform(270);
  }
  to{
    @include animTransform(360);
  }
}

@keyframes toFlatFront{
  from{
    transform: translateZ(2vh);
  }
  to{
    transform: translateZ(0);
  }
}

@keyframes to3dFront{
  from{
    transform: translateZ(0vh);
  }
  to{
    transform: translateZ(2vh);
  }
}

@mixin sideBorderT($opacity){
  border: 1px solid transparentize(black, 1 - $opacity);
}

@keyframes left-ToFlat {
  from{
    transform: rotateY(90deg) translateX(-1vh) translateZ(-1vh) translateY(-5vh);
    @include sideBorderT(1);
  }
  to{
    transform: rotateY(90deg) translateX(1vh) translateZ(-1vh) translateY(-5vh);
    @include sideBorderT(0);
  }
}

@keyframes left-To3d {
  from{
    transform: rotateY(90deg) translateX(1vh) translateZ(-1vh) translateY(-5vh);
    @include sideBorderT(0);
  }
  to{
    transform: rotateY(90deg) translateX(-1vh) translateZ(-1vh) translateY(-5vh);
    @include sideBorderT(1);
  }
}

@keyframes right-ToFlat {
  from{
    transform: rotateX(0deg) rotateY(90deg) translateX(-1vh) rotateZ(0deg) translateZ(1vh) translateY(-5vh) skewX(0deg);
    @include sideBorderT(1);
  }
  to{
    transform: rotateX(0deg) rotateY(90deg) translateX(1vh) rotateZ(0deg) translateZ(1vh) translateY(-5vh) skewX(0deg);
    @include sideBorderT(0);
  }
}

@keyframes right-To3d {
  from{
    transform: rotateX(0deg) rotateY(90deg) translateX(1vh) rotateZ(0deg) translateZ(1vh) translateY(-5vh) skewX(0deg);
    @include sideBorderT(0);
  }
  to{
    transform: rotateX(0deg) rotateY(90deg) translateX(-1vh) rotateZ(0deg) translateZ(1vh) translateY(-5vh) skewX(0deg);
    @include sideBorderT(1);
  }
}

@keyframes bottom-ToFlat {
  from {
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(1vh) translateY(1vh) skewX(0deg);
    @include sideBorderT(1);
  }
  to{
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(1vh) translateY(-1vh) skewX(0deg);
    @include sideBorderT(0);
  }
}

@keyframes bottom-To3d {
  from {
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(1vh) translateY(-1vh) skewX(0deg);
    @include sideBorderT(1);
  }
  to {
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(1vh) translateY(1vh) skewX(0deg);
    @include sideBorderT(0);
  }
}

@keyframes top-ToFlat {
  from {
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(6vh) translateY(1vh) skewX(0deg);
    @include sideBorderT(1);
  }
  to{
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(6vh) translateY(-1vh) skewX(0deg);
    @include sideBorderT(0);
  }
}

@keyframes top-To3d {
  from {
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(6vh) translateY(-1vh) skewX(0deg);
    @include sideBorderT(0);
  }
  to {
    transform: rotateX(90deg) rotateY(0deg) translateX(0px) rotateZ(0deg) translateZ(6vh) translateY(1vh) skewX(0deg);
    @include sideBorderT(1);
  }

}