input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
input:focus {
  outline:none;
}