@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#main{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;

  &>div{
    transform-style: preserve-3d;
  }
}

#cube-wrap {
  position: relative;
  perspective: 150vh;
  perspective-origin: 50% 50%;
  width: 70%;
  height: 70%;
}

#front{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../image/background-1.jpeg");
  transform: translateZ(35vh);
}

#bottom{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateX(270deg) translateY(35vh);
  transform-origin: bottom center;
  background-image: url("../image/background-2.jpeg");
}

#back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../image/background-3.jpeg");
  transform: translateZ(-35vh) rotateY(180deg) rotateZ(180deg);
}

#top{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../image/background-4.jpeg");
  transform: translateY(-35vh) rotateX(90deg);
}

.cont{
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;

  .title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  h1{
    width: 50%;
  }
}

#front {
  .main-content{
    width: 100%;
    height: 100%;
    padding: 2%;
    .main-title{
      margin-top: 15%;
      font-size: 150%;
      text-transform: inherit !important;
      font-family: 'Raleway', sans-serif;
      color: black;
      text-shadow: 2px 1px 2px rgba(128, 118, 81, 1);
    }
  }
}

